<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marks Form</title>
</head>
<body>
    <center><h1>This is a page that show your score card</h1></center>
    <form action="/submit" method="post">
        <label for="science">Science</label>
        <input type="number" name="science" id="science"><br>
        <label for="maths">Mathematics</label>
        <input type="number" name="maths" id="maths"><br>
        <label for="datascience">Data Science</label>
        <input type="number" name="datascience" id="datascience"><br>
        <label for="java">Java</label>
        <input type="number" name="java" id="java"><br>
        <input type="submit" name="submit" id="submit">
    </form>
</body>
</html>